#portfolioLayoutGrid {
  flex: 1 1 auto;
  margin: 1.5vw 2vw;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'avatar-and-name languages'
    'education interests'
    'bottom-row bottom-row'
    'footer footer';
  gap: 2vw;
}

.download-btn-footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    padding: 1.5vw 3vw;
    border: 1px solid var(--bg-lightgray);
    border-radius: 30px;
    background-color: var(--bg-lightgray);
    font-size: clamp(13px, 1.5vw, 42px);
    transition: 0.2s ease;
  }

  button:hover {
    background-color: var(--accent-green);
    transition: 0.2s ease;
    color: var(--white);
  }
}
